<%= form_with model: @customer, url: sign_in_customer_path, local: true do |form| %>
  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control", placeholder: "Enter your email address" %>
  </div>

  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control", placeholder: "Enter your password" %>
  </div>

  <div class="d-grid gap-2">
    <%= form.submit "Log In!", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>

<hr class="my-4">

<div class="d-grid gap-2 text-center">
  <%= button_to '/auth/google_oauth2', data: { turbo: false }, class: "btn btn-outline-dark btn-lg", id: "login-with-google-btn" do %>
    <%= image_tag "google-logo.png", style: "height: 24px", class: "me-2" %>
    Continue with Google
  <% end %>
</div>