<div id="cnterror">
  <%= render 'shared/errors', obj: @host %>
</div>

<%= form_with(model: @host, local: true, class: "needs-validation", novalidate: true) do |form| %>
  <div class="mb-3">
    <%= form.label :host_full_name, "Your Full Name", class: "form-label" %>
    <%= form.text_field :host_full_name, class: "form-control", placeholder: "Enter your full name", required: true %>
  </div>
  <div class="mb-3">
    <%= form.label :email, "Email", class: "form-label" %>
    <%= form.email_field :email, class: "form-control", placeholder: "Enter your email address", required: true %>
  </div>
  <div class="mb-3">
    <%= form.label :phone, "Phone", class: "form-label" %>
    <%= form.text_field :phone, class: "form-control", placeholder: "Enter your phone number", required: true %>
  </div>
  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control", placeholder: "Choose a password", required: true %>
  </div>
  <div class="mb-3">
    <%= form.label :password_confirmation, "Confirm Password", class: "form-label" %>
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Enter the same password", required: true %>
  </div>
  <div class="mb-3">
    <%= form.label :no_of_cars, "Number of cars", class: "form-label" %>
    <%= form.number_field :no_of_cars, class: "form-control", placeholder: "Enter the number of cars you want to rent", min: 1, required: true %>
  </div>
  <div class="d-grid gap-2 mt-4">
    <%= form.submit(@host.new_record? ? "Sign Up!" : "Confirm Edit!", class: "btn btn-primary btn-lg") %>
  </div>
<% end %>
        