<div class="container" id="cnterror">
  <%= render 'shared/errors', obj: @booking %>
</div>

<div class="container" id="cntbkng"> 
  <div class="row justify-content-center">
    <div class="col-7">
      <%= form_with(model: @booking, local: true, data: { controller: "places", action: "google-maps-callback@window->places"}) do |form| %>
        <div class="form-group row mt-3">
          <%= form.label :how_many_people, "Number of People", class: "col-6 col-form-label text-light " %>
          <div class="col-14">
            <%= form.text_field :how_many_people, class: "form-control shadow mb-4 bg-white rounded", placeholder: "Number of people that are going" %>
          </div>
        </div> 
        <div class="form-group row">
          <%= form.label :booking_from, "Origin Address", class: "col-6 col-form-label text-light " %>
          <div class="col-14"> 
            <%= form.search_field :booking_from, class: "form-control shadow mb-4 bg-white rounded", placeholder: "Enter the full address of origin.", data: { target: "places.field", action: "keydown->places#keydown" } %>
          </div>
        </div>
        <div class="form-group row">
          <%= form.label :booking_to, "Destination Address", class: "col-6 col-form-label text-light " %>
          <div class="col-14"> 
            <%= form.search_field :booking_to, class: "form-control shadow mb-4 bg-white rounded", placeholder: "Enter the full address of destination.", data: { target: "places.field", action: "keydown->places#keydown" } %>
          </div>
        </div>
        <div class="form-group row">
          <%= form.label :booking_date, class: "col-6 col-form-label text-light " %>
          <div class="col-14"> 
            <%= form.datetime_field :booking_date, class: "form-control shadow mb-4 bg-white rounded", placeholder: "Enter the date and time of starting the journey" %>
          </div>
        </div>
        <div class="dropdown">
          <div class="form-group row">
            <%= form.label :vehicle, class: "col-6 col-form-label text-light" %>
            <div class="col-lg-14"> 
              <%= form.select(:vehicle_id, options_for_select(@vehicles.map { |vehicle| [vehicle.car_name, vehicle.id] }), { prompt: "Make the selection from the list below"}, { class: "form-control dropdown-toggle shadow mb-4 rounded"}) %>
            </div>
          </div>
        </div>
        
        <div class="input-group justify-content-center mb-3">
          <%= form.submit "Update Booking!", class: "btn btn-outline-light btn-lg text-center"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<h2 class="text-center mt-3"> <%= link_to "Cancel and Return to all Bookings",bookings_path, class: "btn btn-primary" %> </h2>
 



 
 