<body id="bkngshowbody">
    <h2 class="h2-show text-center mt-3 ">From <%= @booking.booking_from.capitalize %> to <%= @booking.booking_to.capitalize %></h2>
    <div class="container" id="bkngshowcnt">
      <div class="row justify-content-md-center">
        <div class="col-lg-6 mt-4">
          <div class="card text-center shadow mb-5 bg-white rounded" id="bkngshowcard">     
            <div class="card-header text-black" style="background-color: white !important;">
              Trip by <%= @booking.customer.customer_full_name if @booking.customer %> 
            </div>
            <div class="card-body">
            <%= image_tag("care.jpeg", class: "car-avatar-bkng-show")%>
              <h4 class="card-text">
                <%= image_tag("origin.png") %>
                <% booking_from = @booking.booking_from %>
                <%= booking_from.capitalize %>
                <%= image_tag("arrow.png") %>
                <% booking_to = @booking.booking_to %>
                <%= booking_to.capitalize %>
                <%= image_tag("destination.png") %>
              </h4>              
              <h6 class="card-text"> Number of people going on the trip = <%= @booking.how_many_people %></h6>
              <h6 class="card-text"> Date of Journey = <%= @booking.booking_date %></h6>
              <% if @booking.vehicles.any? %>
                <h6 class="mt-2" >Car Chosen = <%= render @booking.vehicles%></h6>
              <% end %> 
              <% if @booking.customer == current_customer %>
                <%= link_to "Back to all bookings", bookings_path, class: "btn btn-primary"%>
                <%= link_to "Edit this booking", edit_booking_path(@booking), class: "btn btn-info"%>
                <%= button_to "Delete", booking_path(@booking), class: "btn btn-danger mt-2",method: :delete, onclick: "return confirm('Are you sure?')" %>
              <% end %>
            </div>
            <div class="card-footer text-muted" >
              <small>Created <%= time_ago_in_words(@booking.created_at) %> ago</small><br>
              <small>Updated<%= time_ago_in_words(@booking.updated_at) %> ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>