<div id="cnterror">
  <%= render 'shared/errors', obj: @vehicle %>
</div>
            
<%= form_with(model: @vehicle, local: true, class: "needs-validation") do |form| %>
  <div class="mb-4">
    <%= form.label :car_name, "Write Car Name", class: "form-label" %>
    <%= form.text_field :car_name, class: "form-control", placeholder: "eg. Swift Dzire" %>
  </div>
  <div class="mb-4">
    <%= form.label :vehicle_no, "Your Vehicle Number", class: "form-label" %>
    <%= form.text_field :vehicle_no, class: "form-control", placeholder: "eg. AB CD 0000", data: { target: "places.field", action: "keydown->places#keydown" } %>
  </div>
  <div class="mb-4">
    <%= form.label :registration_no, "Your vehicle registration number", class: "form-label" %>
    <%= form.text_field :registration_no, class: "form-control", placeholder: "Registration number from the registration certificate", data: { target: "places.field", action: "keydown->places#keydown" } %>
  </div>
  <div class="mb-4">
    <%= form.label :no_of_seats, "Number of Seats", class: "form-label" %>
    <%= form.text_field :no_of_seats, class: "form-control", placeholder: "Number of seats available in your vehicle" %>
  </div>
  <div class="mb-4">
    <%= form.label :vehicle_image, "Vehicle Image", class: "form-label" %>
    <%= form.file_field :vehicle_image, class: "form-control shadow mb-4 bg-white rounded" %>
  </div>
  <div class="d-grid gap-2 mt-4">
    <%= form.submit(@vehicle.new_record? ? "Confirm Registration!" : "Update Vehicle!", class: "btn btn-primary btn-lg") %>
    <%= link_to "Cancel and Return to Home Page", root_path, class: "btn btn-outline-secondary btn-lg" %>
  </div>
<% end %>